{plugins, [rebar3_run]}.

{deps,
 [
  {getopt, "1.0.1"},
  {lager, "3.6.4"},
  {folsom, "0.8.7"},
  {hackney, "1.13.0"},
  {jsx, "2.9.0"}
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager,getopt,folsom]}.

{escript_emu_args, "%%! -name bench@127.0.0.1 +K true -rsh ssh -noshell -noinput +P 1222333 +Q 1222333 +zdbbl 32768\n"}.
